[submodule "antum_core"]
	path = core
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_core.git
[submodule "antum_craft"]
	path = craft
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_craft.git
[submodule "antum_entities"]
	path = entities
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_entities.git
[submodule "antum_glass"]
	path = glass
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_glass.git
[submodule "antum_overrides"]
	path = overrides
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_overrides.git
[submodule "antum_spawneggs"]
	path = spawneggs
	url = https://AntumDeluge@github.com/AntumMT/mod-antum_spawneggs.git
[submodule "listitems"]
	path = listitems
	url = https://AntumDeluge@github.com/AntumMT/mod-listitems.git
[submodule "override"]
	path = override
	url = https://AntumDeluge@github.com/AntumMT/mod-override.git
[submodule "hidename"]
	path = hidename
	url = https://AntumDeluge@github.com/AntumMT/mod-hidename.git
[submodule "value"]
	path = value
	url = https://AntumDeluge@github.com/AntumMT/mod-value.git
[submodule "modconf"]
	path = modconf
	url = https://AntumDeluge@github.com/AntumMT/mod-modconf.git
